# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/

# MLflow
mlruns/

# Model artifacts
model_artifacts/*.joblib
model_artifacts/*.pkl

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db